$navbar-height: 4rem;
$navbar-padding-vertical:3rem;
$navbar-background-color: config('colors.white');
$navbar-item-hover-color: config('colors.grey-darkest');
$navbar-item-hover-background-color: transparent;
$navbar-dropdown-arrow: config('colors.grey-dark');
$navbar-dropdown-item-hover-color: $white;
