@tailwind preflight;
// Load in any fonts here
@import url('https://fonts.googleapis.com/css?family=Raleway:400,400i,500,600,700');

html {
    color: config('colors.grey-darkest');
    background: config('colors.grey-light');
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 400;
}

// Import bulma utilities 
@import "~bulma/sass/utilities/_all.sass";

// Import custom color overrides
// Any variables you want to change should go here (see import order issues here https://github.com/jgthms/bulma/issues/1651)
// Bulma components use !important so all style overrides have to go before the component imports
@import '../sass/bulma/theme';


@tailwind components;

// Bulma Components
@import "~bulma/sass/components/navbar.sass";


// Bulma layout and grid
@import "~bulma/sass/grid/_all.sass";
@import "~bulma/sass/layout/section.sass";


// Bulma Elements
@import "~bulma/sass/elements/button.sass";
@import "~bulma/sass/elements/form.sass";
@import "~bulma/sass/elements/container.sass";
@import "~bulma/sass/elements/icon.sass";
@import "~bulma/sass/elements/table.sass";



// Custom Components here
// ...


@tailwind utilities;

/**
* Here you would add any custom utilities you need that don't come out of the
* box with Tailwind.
*
* Example :
*
* .bg-pattern-graph-paper { ... }
* .skew-45 { ... }
*
* Or if using a preprocessor or `postcss-import`:
*
* @import "utilities/background-patterns";
* @import "utilities/skew-transforms";
*/
